@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');
body{
    font-family: 'Roboto', sans-serif;
    padding-top: 50px;
    width: 100%;
}

.navbar {
    background-color: #28A745;
}

.btn-primary{
    background-color: #ffffff; 
    color: #000000;
    border: #ffffff;
    font-size: medium;
}

.Recibe {
    background-color: #28A745;
}

.footer p{
    color: #707070; 
}
